@import "./Mixins";
@import "./Variables";

.filterContainer {
  margin-bottom: 24px;

  .label {
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .filter {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .filter__item {
      display: flex;
      align-items: flex-end;

      @media (max-width: 860px) {
        flex-direction: column;
        align-items: initial;
      }
    }

    .filter__button {
      @include filterButton;
    }
    .resultsCounter {
      line-height: 38px;
    }
  }
}
