@mixin filterButton {
    position: relative;
    font-size: $filter-font-size;
    display: inline-block;
    text-align: left;
    padding: 0;
    opacity: 0.4;
    text-transform: capitalize;
    transition: opacity $transition-time ease;
    margin-right: 10px;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 20px;
      left: -20px;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent $primary-color;
      opacity: 0;
      transition: opacity $transition-time ease 0.2s;
    }

    &:hover {
      opacity: 1;
    }

    &__selected {
      opacity: 1;

      &:after {
        opacity: 1;
      }
    }
}